/* ASIDE TODO
FIX GRID
FOOTER?
MODIFICAR TARJETAS
MIRAR COLORES
HEADER?
*/
body{
  font-family: 'Roboto', sans-serif;
  margin: 10px auto;
  display: grid;
  grid-template-rows: repeat(4,auto);
  min-height: 100vh;
}
main,aside,footer{
  padding: 20px;
  border-radius: 3px;
}

header{
  color: #ec994b;
  text-align: center;
}

.card-section{
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  /* display: grid;
  gap: 1.75rem;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr)); */
}
.card{
  background-color: #474f6b;
  padding: 1rem;
  border-radius: 1.75rem;
  display: flex;
  flex-wrap: wrap;
  min-width: 130px;
}
.card .card-header{
  flex-basis: 100%;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.card .card-body{
  flex-basis: 90%;
  margin-top: 1.2rem;
}
.card .card-body p{
  margin: 0;

}
.card .card-footer a{
  text-decoration: none;
  color: black;
  margin-left: 0px;
  display: inline-block;
  padding: 0.7rem 1.75rem;
  border: 1px solid transparent;
  background-color: #71979f;
  border-radius: 1.75rem;
  margin-top: 1.2rem;
  transition: background-color 0.4s ease-in, color 0.4s ease-in;
}
.card .card-footer a:hover{
  background-color: transparent;
  border-color: #71979f;
  color: white;
}
.card .card-footer{
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 0.8rem;
}
.card-footer i{
  color: #71979f;
  font-size: 1.3em;
  cursor: pointer;
  padding-top: 2em;
}

.container{
  padding: 0.2em,auto;
}

aside{
  border: 3px solid #71979f;
  border-radius: 5px;
}
aside form{
  text-align: center;
}
aside label{
  display: block;
  margin: 10px;
}
aside .button{
  background-color: #fff;
  border: 1px solid;
  border-radius: .25rem;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  padding: 2px 5px;

}

aside h3{
  color: white;
}

footer{
  background: #474f6b;
  color: white;
  text-align: center;
  padding: 10px;
}

footer div{
  display: block;
  font-size: 1.5rem;
}

.social{
  display: inline-block;
  height: 30px;
  margin: 5px;
  width: 30px;
}

@media only screen and (min-width:760px) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    header { grid-area: 1 / 1 / 2 / 5; }
    aside { 
      grid-area: 2 / 1 / 4 / 2; 
      position: -webkit-sticky;
      position: sticky;
      top: 20px;
    }
    main { grid-area: 2 / 2 / 5 / 5; }
    footer { grid-area: 5 / 1 / 6 / 5; }

    .card{
      background-color: #474f6b;
      padding: 1rem;
      border-radius: 1.75rem;
      display: flex;
      flex-wrap: wrap;
      width: 210px;
    }
  
}